* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

/* Front View */

.nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    bottom: 0;
    align-items: center;
    background-color: white;
    height: 2rem;
}

.title-txt {
    color:white;
    position: absolute;
    top: 0;
    left:0;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;

}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

img {
    height: 100%;
    width: 100%;
    overflow: none;
    object-fit: cover;
}

/* Login  View */

.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7400b8;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;  
    padding: 1rem;
    margin: auto;
    border: 2px solid black;
    border-radius: 2rem;
    width: 350px;
    background-color: #6930c3;
}

.login-form .login-form-label {
    margin: 0.5rem 0;
    font-weight: 700;
    color: white;

}

.login-form .login-form-input {
    margin: 0.5rem;
    padding: 0.2rem;
    border-radius: 1rem;

}

.login-form .login-form-button {
    padding: 0.2rem 0.5rem;
    border-radius: 0.8rem;
    background-color: #56cfe1;
}

.login-form-remember {
    display: flex;
    margin: 0.5rem;
}

.login-form .login-form-check {
    margin: 0.5rem;
    padding: 0.2rem;
}

/* Flash & Errors */
.flash-message-success {
    width: 100vw;
    background-color: greenyellow;
    color: black;
    text-align: center;
}

.flash-message-error {
    width: 100vw;
    background-color: crimson;
    color: white;
    text-align: center;
}


/* Gallery Admin View */

.image {

}

.image-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fake-link {
    cursor: pointer;
    margin-left: 1rem;
    color: #f87b05;
}

.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

label{
    font-size: 1rem;
}

input {
    font-size: 1rem;
}

select {
    font-size: 1rem;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.image-gallery__container {
    max-width: 500px;
}

.image-gallery__item {
    max-width: 400px;
    height: auto;
    margin: 1rem;
    object-fit: contain;

}

/* Categories Admin View */

.update {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.update label {
    margin: 1rem 0;
}

.update .submit {
    margin-top: 1rem;
}

.delete {
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 400px;

}

.categories{
    display: none;
}


.categories-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}